<h4>Section 2 - Security Questions</h4>
<div>
    <form (submit)="validateForm($event)">
        <div [ngStyle]="{'background-color': !isAllAnswersCorrect ? (isQ1Correct ? '#E4FFE1' : '#FFD0D0') : ''}" class="questionOne">
        <p>{{q1}}</p>

        <input type="radio" id="q1-yes" name="q1" value="a" [(ngModel)]="selectedQ1">
        <label for="q1-yes">Solely focus on the functionality of the program and assume security concerns will be addressed by dedicated security teams during testing.</label><br/>

        <input type="radio" id="q1-no" name="q1" value="b" [(ngModel)]="selectedQ1">
        <label for="q1-no">Prioritize functionality but be aware of potential security issues, leaving it to testing and security teams to handle.</label><br/>

        <input type="radio" id="q1-not-sure" name="q1" value="c" [(ngModel)]="selectedQ1">
        <label for="q1-not-sure">Actively address and mitigate security concerns, including using safer alternatives to functions like strcpy, as part of the development process. </label><br/>
        
        <input type="radio" id="q1-not-sure" name="q1" value="d" [(ngModel)]="selectedQ1">
        <label for="q1-not-sure">Only address security concerns if explicitly instructed by security teams or if security is a primary requirement for the specific project. </label><br/>
 
        <br>
        </div>
       
        <div [ngStyle]="{'background-color': !isAllAnswersCorrect ? (isQ2Correct ? '#E4FFE1' : '#FFD0D0') : ''}" class="questionTwo">
        <p>{{q2}}</p>

        <input type="radio" id="q2-a" name="q2" value="a" [(ngModel)]="selectedQ2">
        <label for="q2-a">Full Trust: Developers assume widely-used library APIs are inherently secure. </label><br/>

        <input type="radio" id="q2-b" name="q2" value="b" [(ngModel)]="selectedQ2">
        <label for="q2-b">Trust with Awareness: Developers generally trust library APIs but are mindful of potential security issues. </label><br/>

        <input type="radio" id="q2-c" name="q2" value="c" [(ngModel)]="selectedQ2">
        <label for="q2-c">Neutral Stance: Developers approach library APIs without a specific bias, considering both functionality and security equally. </label><br/>

        <input type="radio" id="q2-d" name="q2" value="d" [(ngModel)]="selectedQ2">
        <label for="q2-d">Skeptical Trust: Developers are wary of the security of library APIs and actively assess their implications. </label><br/>

        <input type="radio" id="q2-e" name="q2" value="e" [(ngModel)]="selectedQ2">
        <label for="q2-e">No Trust: Developers never assume that library APIs are secure; they rigorously assess and validate security aspects before integration. </label><br/>

        <br>
        </div>


        <div [ngStyle]="{'background-color': !isAllAnswersCorrect ? (isQ3Correct ? '#E4FFE1' : '#FFD0D0') : ''}" class="questionThree">
        <p>{{q3}}</p>

        <input type="radio" id="q3-a" name="q3" value="a" [(ngModel)]="selectedQ3">
        <label for="q3-a">Once a system is functional, updates should be avoided to prevent potential disruptions, even if there are known vulnerabilities in older functions and APIs. </label><br />

        <input type="radio" id="q3-b" name="q3" value="b" [(ngModel)]="selectedQ3">
        <label for="q3-b">Developers should prioritize stability and only consider updates when absolutely necessary, balancing the risk of potential vulnerabilities with the need for stability. </label><br />

        <input type="radio" id="q3-c" name="q3" value="c" [(ngModel)]="selectedQ3">
        <label for="q3-c">Developers should always prioritize security over stability; they should regularly update code, libraries, and use the latest functions to address known vulnerabilities and enhance the overall security posture.</label>
        <br>

        </div>

        <!-- <div [ngStyle]="{'background-color': !isAllAnswersCorrect ? (isQ4Correct ? '#E4FFE1' : '#FFD0D0') : ''}"  class="questionFour">
        <p>{{q4}}</p>

        <input type="radio" id="q4-yes" name="q4" value="yes" [(ngModel)]="selectedQ4">
        <label for="q4-yes">Yes</label>

        <input type="radio" id="q4-no" name="q4" value="no" [(ngModel)]="selectedQ4">
        <label for="q4-no">No</label>

        <input type="radio" id="q4-unsure" name="q4" value="unsure" [(ngModel)]="selectedQ4">
        <label for="q4-unsure">Not sure</label>
        <br>
        </div>

        <div [ngStyle]="{'background-color': !isAllAnswersCorrect ? (isQ4Correct ? '#E4FFE1' : '#FFD0D0') : ''}" class="questionFive">
        <p>{{q5}}</p>

        <input type="radio" id="q5-yes" name="q5" value="yes" [(ngModel)]="selectedQ5">
        <label for="q5-yes">Yes</label><br />

        <input type="radio" id="q5-no" name="q5" value="no" [(ngModel)]="selectedQ5">
        <label for="q5-no">No</label><br />

        <input type="radio" id="q5-depends" name="q5" value="depends" [(ngModel)]="selectedQ5">
        <label for="q5-depends">Depends on the context</label>
        <br><br />
        </div> -->
        <button type="submit">Next</button>
    </form>


    <div  *ngIf="!isAllAnswersCorrect">
        <h5>Guidelines for Incorrect Answers</h5>
        <ul *ngIf="!isQ1Correct">
            <li>{{ guideLinesQ1 }}</li>
        </ul>
        <ul *ngIf="!isQ2Correct">
            <li>{{ guideLinesQ2 }}</li>
        </ul>
        <ul *ngIf="!isQ3Correct">
            <li>{{ guideLinesQ3 }}</li>
        </ul>
        <ul *ngIf="!isQ4Correct">
            <li>{{ guideLinesQ4 }}</li>
        </ul>
        <ul *ngIf="!isQ5Correct">
            <li>{{ guideLinesQ5 }}</li>
        </ul>
    </div>
</div>