<div class="container-fluid">
  <div class="row">

    <!-- Sidebar -->
    <div class="col-md-2 left-nav" style="background-color: #FAEED1; position: fixed; height: 100vh; overflow-y: auto;">
      <button class="nav-item" 
        [style.background-color]="currentSection === 'section1' ? '#CCD8DF' : '#EBEBEB'">Section 1</button>

      <button class="nav-item" 
        [style.background-color]="currentSection === 'section2' ? '#CCD8DF' : '#EBEBEB'">Section 2</button>

      <button class="nav-item" 
        [style.background-color]="currentSection === 'section3' ? '#CCD8DF' : '#EBEBEB'">Section 3</button>

      <button class="nav-item" 
        [style.background-color]="currentSection === 'section4' ? '#CCD8DF' : '#EBEBEB'">Section 4</button>

      <button class="nav-item" 
        [style.background-color]="currentSection === 'result' ? '#CCD8DF' : '#EBEBEB'">Results</button>
    </div>

    <!-- Content -->
    <div class="col-md-10 offset-md-2" style="background-color: #FDF7E4; padding-top: 20px;">
      <app-section-one *ngIf="currentSection === 'section1'">
        <div>
          <button class="btn btn-primary" type="button" (click)="showSection('section2')">Next</button>
        </div>
      </app-section-one>

      <app-section-two *ngIf="currentSection === 'section2'">
        <div>
          <button class="btn btn-primary" type="button" (click)="showSection('section3')">Next</button>
        </div>
      </app-section-two>

      <app-section-three *ngIf="currentSection === 'section3'">
        <div>
          <button class="btn btn-primary" type="button" (click)="showSection('section4')">Next</button>
        </div>
      </app-section-three>

      <app-section-four *ngIf="currentSection === 'section4'">
        <div>
          <button class="btn btn-primary" type="button" (click)="showSection('result')">Next</button>
        </div>
      </app-section-four>

      <app-result *ngIf="currentSection === 'result'">
      </app-result>

    </div>
  </div>
</div>