<div class="heading">
    <h4>Section 4 - Security Questions for Software Developers</h4>
</div>
<div>
    <form (submit)="validateForm($event)">
        <!-- Q1 -->
        <div [ngStyle]="{'background-color': !isAllAnswersCorrect ? (isQ1Correct ? '#E4FFE1' : '#FFD0D0') : ''}"
            class="questionOne">
            <div class="row question">
                <div class="custom-col" style="width: 5%;">
                    <label>1</label>
                </div>
                <div class="col-sm-11" style="width: 90%;">
                    <label for="q1">{{q1}}</label>
                </div>
                <div class="custom-col" style="width: 5%;">
                    <label>{{result.q1}}/{{score.q1}}</label>
                </div>
            </div>

            <div class="row my-hoverable-col">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q1-a" name="q1" value="a" [(ngModel)]="selectedQ1">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q1-a">A) Yes, solely on individual developers.</label><br />
                </div>
            </div>

            <div class="row my-hoverable-col">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q1-b" name="q1" value="b" [(ngModel)]="selectedQ1">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q1-b">B) No, Company hierarchies play a role.</label><br />
                </div>
            </div>
        </div>
        <br />


        <!-- Q2 -->
        <div [ngStyle]="{'background-color': !isAllAnswersCorrect ? (isQ2Correct ? '#E4FFE1' : '#FFD0D0') : ''}"
            class="questionTwo">

            <div class="row question">
                <div class="custom-col" style="width: 5%;">
                    <label>2</label>
                </div>
                <div class="col-sm-11" style="width: 90%;">
                    <label for="q2">{{q2}}</label>
                </div>
                <div class="custom-col" style="width: 5%;">
                    <label>{{result.q2}}/{{score.q2}}</label>
                </div>
            </div>

            <div class="row my-hoverable-col">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q2-a" name="q2" value="a" [(ngModel)]="selectedQ2">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q2-a">A) Developers always prioritize security, irrespective of company culture.
                    </label><br />
                </div>
            </div>

            <div class="row my-hoverable-col">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q2-b" name="q2" value="b" [(ngModel)]="selectedQ2">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q2-b">B) Developers follow security practices if mandated by company policies and
                        culture.</label><br />
                </div>
            </div>

            <div class="row my-hoverable-col">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q2-c" name="q2" value="c" [(ngModel)]="selectedQ2">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q2-c">C) Developers ignore security regardless of company culture. </label><br />
                </div>
            </div>

            <div class="row my-hoverable-col">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q2-d" name="q2" value="d" [(ngModel)]="selectedQ2">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q2-d">D) Developers view security as a task only for those with time.</label><br />
                </div>
            </div>
        </div>
        <br />

        <!-- Q3 -->
        <div [ngStyle]="{'background-color': !isAllAnswersCorrect ? (isQ3Correct ? '#E4FFE1' : '#FFD0D0') : ''}"
            class="questionThree">

            <div class="row question">
                <div class="custom-col" style="width: 5%;">
                    <label>3</label>
                </div>
                <div class="col-sm-11" style="width: 90%;">
                    <label for="q3">{{q3}}</label>
                </div>
                <div class="custom-col" style="width: 5%;">
                    <label>{{result.q3}}/{{score.q3}}</label>
                </div>
            </div>

            <div class="row my-hoverable-col">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q3-a" name="q3" value="a" [(ngModel)]="selectedQ3">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q3-a">A) External pressure has no impact on teams' security practices. </label>
                </div>
            </div>

            <div class="row my-hoverable-col">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q3-b" name="q3" value="b" [(ngModel)]="selectedQ3">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q3-b">B) External mandates drive teams to adopt security practices.</label><br />
                </div>
            </div>

            <div class="row my-hoverable-col">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q3-c" name="q3" value="c" [(ngModel)]="selectedQ3">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q3-c">C) Teams resist external pressure and maintain their existing practices</label>
                </div>

            </div>

                <div class="row my-hoverable-col">
                    <div class="custom-col" style="width: 5%;">
                        <input type="radio" id="q3-d" name="q3" value="d" [(ngModel)]="selectedQ3">
                    </div>
                    <div class="col-sm-11" style="width: 95%;">
                        <label for="q3-d">D) Teams only adopt security practices if they align with internal
                            policies</label>
                    </div>
                </div>

            </div>
        <br>

        <!-- Q4 -->
        <div [ngStyle]="{'background-color': !isAllAnswersCorrect ? (isQ4Correct ? '#E4FFE1' : '#FFD0D0') : ''}"
            class="questionFour">

            <div class="row question">
                <div class="custom-col" style="width: 5%;">
                    <label>4</label>
                </div>
                <div class="col-sm-11" style="width: 90%;">
                    <label for="q4">{{q4}}</label>
                </div>
                <div class="custom-col" style="width: 5%;">
                    <label>{{result.q4}}/{{score.q4}}</label>
                </div>
            </div>


            <div class="row my-hoverable-col">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q4-a" name="q4" value="a" [(ngModel)]="selectedQ4">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q4-a">A) Yes, developers should be vigilant about when using this function</label><br />
                </div>
            </div>

            <div class="row my-hoverable-col">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q4-b" name="q4" value="b" [(ngModel)]="selectedQ4">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q4-b">B) No, as long as the function does its job, developers don't need to worry as it
                        provided in the official documentation </label><br />
                </div>
            </div>
        </div>
        <br>

        <!-- Q5 -->
        <div [ngStyle]="{'background-color': !isAllAnswersCorrect ? (isQ5Correct ? '#E4FFE1' : '#FFD0D0') : ''}"
            class="questionFive">

            <div class="row question">
                <div class="custom-col" style="width: 5%;">
                    <label>5</label>
                </div>
                <div class="col-sm-11" style="width: 90%;">
                    <label for="q5">{{q5}}</label>
                </div>
                <div class="custom-col" style="width: 5%;">
                    <label>{{result.q5}}/{{score.q5}}</label>
                </div>
            </div>

            <div class="row my-hoverable-col">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q5-a" name="q5" value="a" [(ngModel)]="selectedQ5">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q5-a">A) A secure area in the API that developers often overlook.</label><br />
                </div>
            </div>

            <div class="row my-hoverable-col">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q5-b" name="q5" value="b" [(ngModel)]="selectedQ5">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q5-b">B) A misconception, misunderstanding, or oversight by developers when using an API
                        function.</label><br />
                </div>
            </div>

            <div class="row my-hoverable-col">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q5-c" name="q5" value="c" [(ngModel)]="selectedQ5">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q5-c">C) An extra layer of security implemented by developers for API functions.
                    </label>
                </div>
            </div>

            <div class="row my-hoverable-col">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q5-c" name="q5" value="c" [(ngModel)]="selectedQ5">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q5-c">D) A security vulnerability intentionally introduced into the API </label>
                </div>
            </div>
        </div>
        <br />

        <button class="btn btn-primary" type="submit" [class.disabled]="isButtonDisabled">Submit</button>
    </form>

    <div *ngIf="!isAllAnswersCorrect">
        <h5>Your Score: {{section4Score}}</h5>

        <h5>Guidelines for Incorrect Answers</h5>
        <div *ngFor="let guideline of section4Guidelines">
            <div class="guideDiv">
                <strong>{{ guideline.split('\t')[0] }}</strong>
                <br />
                <span class="guideline">{{ guideline.split('\t')[1] }}</span>
            </div>
        </div>
    </div>
</div>

<div>
    <ng-content *ngIf="!isAllAnswersCorrect"></ng-content>
</div>