<div class="heading">
    <h4>Section 3 - Security Questions for Software Developers</h4>
</div>
<div>
    <form (submit)="validateForm($event)">
        <!-- Q1 -->
        <div [ngStyle]="{'background-color': !isAllAnswersCorrect ? (isQ1Correct ? '#E4FFE1' : '#FFD0D0') : ''}"
            class="questionOne">
            <div class="row question">
                <div class="custom-col" style="width: 5%;">
                    <label>1</label>
                </div>
                <div class="col-sm-11" style="width: 90%;">
                    <label for="q1">{{q1}}</label>
                </div>
                <div class="custom-col" style="width: 5%;">
                    <label>{{result.q1}}/{{score.q1}}</label>
                </div>
            </div>

            <div class="row my-hoverable-col">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q1-a" name="q1" value="a" [(ngModel)]="selectedQ1">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q1-a">A) No, self-signed certificates may lead to user warnings as they are not automatically trusted by web browsers</label><br />
                </div>
            </div>

            <div class="row my-hoverable-col">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q1-b" name="q1" value="b" [(ngModel)]="selectedQ1">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q1-b">B) Yes, it's a secure and widely-accepted practice. </label><br />
                </div>
            </div>
        </div>
        <br />


        <!-- Q2 -->
        <div [ngStyle]="{'background-color': !isAllAnswersCorrect ? (isQ2Correct ? '#E4FFE1' : '#FFD0D0') : ''}"
            class="questionTwo">

            <div class="row question">
                <div class="custom-col" style="width: 5%;">
                    <label>2</label>
                </div>
                <div class="col-sm-11" style="width: 90%;">
                    <label for="q2">{{q2}}</label>
                </div>
                <div class="custom-col" style="width: 5%;">
                    <label>{{result.q2}}/{{score.q2}}</label>
                </div>
            </div>

            <div class="row my-hoverable-col">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q2-a" name="q2" value="a" [(ngModel)]="selectedQ2">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q2-a">B) Yes, deprecated functions are always safe to use. </label><br />
                </div>
            </div>

            <div class="row my-hoverable-col">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q2-b" name="q2" value="b" [(ngModel)]="selectedQ2">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q2-b">C) No, developers should avoid using deprecated functions due to potential risks, such as security vulnerabilities.</label><br />
                </div>
            </div>
        </div>
        <br />

        <!-- Q3 -->
        <div [ngStyle]="{'background-color': !isAllAnswersCorrect ? (isQ3Correct ? '#E4FFE1' : '#FFD0D0') : ''}"
            class="questionThree">

            <div class="row question">
                <div class="custom-col" style="width: 5%;">
                    <label>3</label>
                </div>
                <div class="col-sm-11" style="width: 90%;">
                    <label for="q3">{{q3}}</label>
                </div>
                <div class="custom-col" style="width: 5%;">
                    <label>{{result.q3}}/{{score.q3}}</label>
                </div>
            </div>

            <div class="row my-hoverable-col">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q3-a" name="q3" value="a" [(ngModel)]="selectedQ3">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q3-a">A) Blindly trust and implement any code solution provided. </label>
                </div>
            </div>

            <div class="row my-hoverable-col">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q3-b" name="q3" value="b" [(ngModel)]="selectedQ3">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q3-b">B) Consider seeking guidance from experienced developers on community platforms. </label><br />
                </div>
            </div>

            <div class="row my-hoverable-col">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q3-c" name="q3" value="c" [(ngModel)]="selectedQ3">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q3-c">C) Thoroughly analyze code solutions for potential security vulnerabilities.</label>
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-primary" type="submit" [class.disabled]="isButtonDisabled">Submit</button>
    </form>

    <div *ngIf="!isAllAnswersCorrect">
        <h5>Your Score: {{section3Score}}</h5>

        <h5>Guidelines for Incorrect Answers</h5>
        <div *ngFor="let guideline of section3Guidelines">
            <div class="guideDiv">
                <strong>{{ guideline.split('\t')[0] }}</strong>
                <br />
                <span class="guideline">{{ guideline.split('\t')[1] }}</span>
            </div>
        </div>
    </div>
<div>
    <ng-content *ngIf="!isAllAnswersCorrect"></ng-content>
</div>