<div class="heading">
    <h4>Section 3 - Security Questions for Software Developers</h4>
</div>

<div>
    <form (submit)="validateForm($event)">
        <!-- Q1 -->
        <div [ngStyle]="{'background-color': !isAllAnswersCorrect ? (isQ1Correct ? '#E4FFE1' : '#FFD0D0') : ''}"
            class="questionOne">
            <div class="row">
                <div class="custom-col" style="width: 5%;">
                    <label>1</label>
                </div>
                <div class="col-sm-11" style="width: 90%;">
                    <label for="q1">{{q1}}</label>
                </div>
                <div class="custom-col" style="width: 5%;">
                    <label>{{result.q1}}/{{score.q1}}</label>
                </div>
            </div>

            <div class="row">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q1-yes" name="q1" value="yes" [(ngModel)]="selectedQ1">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q1-yes">Yes</label><br />
                </div>
            </div>

            <div class="row">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q1-no" name="q1" value="no" [(ngModel)]="selectedQ1">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q1-no">No</label><br />
                </div>
            </div>

            <div class="row">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q1-not-sure" name="q1" value="not-sure" [(ngModel)]="selectedQ1">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q1-not-sure">Not Sure</label><br />
                </div>
            </div>
        </div>
        <br />


        <!-- Q2 -->
        <div [ngStyle]="{'background-color': !isAllAnswersCorrect ? (isQ2Correct ? '#E4FFE1' : '#FFD0D0') : ''}"
            class="questionTwo">

            <div class="row">
                <div class="custom-col" style="width: 5%;">
                    <label>2</label>
                </div>
                <div class="col-sm-11" style="width: 90%;">
                    <label for="q2">{{q2}}</label>
                </div>
                <div class="custom-col" style="width: 5%;">
                    <label>{{result.q2}}/{{score.q2}}</label>
                </div>
            </div>

            <div class="row">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q2-a" name="q2" value="a" [(ngModel)]="selectedQ2">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q2-a">During Design and Implementation</label><br />
                </div>
            </div>

            <div class="row">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q2-b" name="q2" value="b" [(ngModel)]="selectedQ2">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q2-b">In Developer Testing</label><br />
                </div>
            </div>

            <div class="row">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q2-c" name="q2" value="c" [(ngModel)]="selectedQ2">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q2-c">Through Code Testing and Code Review</label><br />
                </div>
            </div>

            <div class="row">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q2-d" name="q2" value="d" [(ngModel)]="selectedQ2">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q2-d">In Post-development Testing</label><br />
                </div>
            </div>

            <div class="row">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q2-e" name="q2" value="e" [(ngModel)]="selectedQ2">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q2-e">All of the Above</label><br />
                </div>
            </div>

            <div class="row">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q2-f" name="q2" value="f" [(ngModel)]="selectedQ2">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q2-f">None of the Above</label>
                </div>
            </div>
        </div>
        <br />

        <!-- Q3 -->
        <div [ngStyle]="{'background-color': !isAllAnswersCorrect ? (isQ3Correct ? '#E4FFE1' : '#FFD0D0') : ''}"
            class="questionThree">

            <div class="row">
                <div class="custom-col" style="width: 5%;">
                    <label>3</label>
                </div>
                <div class="col-sm-11" style="width: 90%;">
                    <label for="q3">{{q3}}</label>
                </div>
                <div class="custom-col" style="width: 5%;">
                    <label>{{result.q3}}/{{score.q3}}</label>
                </div>
            </div>

            <div class="row">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q2-a" name="q3" value="a" [(ngModel)]="selectedQ3">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q3-a">Developers security testing is only feature-driven</label>
                </div>
            </div>

            <div class="row">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q3-b" name="q3" value="b" [(ngModel)]="selectedQ3">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q3-b">Developers do not test for security</label><br />
                </div>
            </div>

            <div class="row">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q3-c" name="q3" value="c" [(ngModel)]="selectedQ3">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q3-c">Security is a priority during developer testing</label>
                </div>
            </div>
        </div>
        <br>

        <!-- Q4 -->
        <div [ngStyle]="{'background-color': !isAllAnswersCorrect ? (isQ4Correct ? '#E4FFE1' : '#FFD0D0') : ''}"
            class="questionFour">

            <div class="row">
                <div class="custom-col" style="width: 5%;">
                    <label>4</label>
                </div>
                <div class="col-sm-11" style="width: 90%;">
                    <label for="q4">{{q4}}</label>
                </div>
                <div class="custom-col" style="width: 5%;">
                    <label>{{result.q4}}/{{score.q4}}</label>
                </div>
            </div>


            <div class="row">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q4-yes" name="q4" value="yes" [(ngModel)]="selectedQ4">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q4-yes">Yes</label><br />
                </div>
            </div>

            <div class="row">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q4-no" name="q4" value="no" [(ngModel)]="selectedQ4">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q4-no">No</label><br />
                </div>
            </div>

            <div class="row">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q4-unsure" name="q4" value="unsure" [(ngModel)]="selectedQ4">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q4-unsure">Not sure</label><br />
                </div>
            </div>
        </div>
        <br />

        <!-- q5 -->
        <div [ngStyle]="{'background-color': !isAllAnswersCorrect ? (isQ5Correct ? '#E4FFE1' : '#FFD0D0') : ''}"
            class="questionFive">

            <div class="row">
                <div class="custom-col" style="width: 5%;">
                    <label>5</label>
                </div>
                <div class="col-sm-11" style="width: 90%;">
                    <label for="q5">{{q5}}</label>
                </div>
                <div class="custom-col" style="width: 5%;">
                    <label>{{result.q5}}/{{score.q5}}</label>
                </div>
            </div>

            <div class="row">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q5-yes" name="q5" value="yes" [(ngModel)]="selectedQ5">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q5-yes">Yes</label><br />
                </div>
            </div>

            <div class="row">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q5-no" name="q5" value="no" [(ngModel)]="selectedQ5">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q5-no">No</label><br />
                </div>
            </div>

            <div class="row">
                <div class="custom-col" style="width: 5%;">
                    <input type="radio" id="q5-depends" name="q5" value="depends" [(ngModel)]="selectedQ5">
                </div>
                <div class="col-sm-11" style="width: 95%;">
                    <label for="q5-depends">Depends on the context</label>
                </div>
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary" [class.disabled]="isButtonDisabled">Submit</button>
    </form>

    <div *ngIf="!isAllAnswersCorrect">
        <h5>Your Score: {{section3Score}}</h5>
        <h5>Guidelines for Incorrect Answers</h5>

        <ul *ngFor="let guideline of section3Guidelines">
            <li>{{ guideline }}</li>
        </ul>

    </div>
</div>

<div>
    <ng-content *ngIf="!isAllAnswersCorrect"></ng-content>
</div>